.container > div {
	display: inline-block;
}

.box {
	width: 100px;
	height: 50px;
	background-color: Gray;
	margin: 10px;
	color: white;
	text-align: center;
	vertical-align: middle;
	font-size: 30px;
	cursor: default;
	padding-top: 15px;
	border-radius: 4px;
}