#infobox {
	width: 340px; 
	height: 80px;
	border: solid 1px LightGray;
	margin-left: 12px;
	margin-top: 2px;
	text-align: center;
	background-color: Gray;
	padding-top: 15px;
}

.container > div {
	display: inline-block;
}

.box {
	width: 100px;
	height: 50px;
	background-color: Gray;
	margin: 10px;
	color: white;
	text-align: center;
	vertical-align: middle;
	font-size: 30px;
	cursor: default;
	padding-top: 15px;
	border-radius: 4px;
}